//headings
h1, .h1 {
  font-family: $font-secondary;
}

h2, .h2 {
  font-family: $font-secondary;
  color: $color-dark-gray;
  line-height: 58px;
  font-size: 48px;
}

h3, .h3 {
  font-family: $font-secondary;
  color: $color-dark-gray;
  line-height: 30px;
  font-size: 25px;
}


