//fonts
$font-primary: Inter-Regular, sans-serif;
$font-secondary: Inter-Semi-Bold, sans-serif;

//colors
$color-primary:           #EEBD20;
$color-gray:              #383A3E;
$color-dark-gray:         #1C1C1C;
$color-light-gray:        #F8F8F8;
$color-extra-light-gray:   #F2F2F2;

//base font size and color
$color-text:         $color-dark-gray;
$base-font-size:     16px;

//border radius
$border-radius-sm:   10px;
$border-radius-md:   20px;

// Transitions
$trans-standard:      all .4s ease;
$trans-sm:            all .3s ease;
$trans-xs:            all .2s ease;
