//fonts
$font-primary: "sans-serif";
$font-secondary: "sans-serif";

//base font size and color
$color-text:         $color-dark-gray;
$base-font-size:     16px;

//colors
$color-primary:      #EEBD20;
$color-dark-gray:    #1C1C1C;
$color-gray:         #383A3E;
$color-light-gray:   #F8F8F8;

//border radius
$border-radius-sm:   10px;
$border-radius-md:   20px;

// Transitions
$trans-standard:      all .4s ease;
$trans-sm:            all .3s ease;
$trans-xs:            all .2s ease;
