
<!DOCTYPE html>
<html style="height: 100vh" lang="en">
<head>
    <title>HiLearn</title>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWRH4H4');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.svg') }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block headcontent %}
    {% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWRH4H4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
         <header>
             <nav id="mainNav">
                  <a class="js-scroll-trigger" href="/">
                      <img border="0" src="{{ url_for('static', filename='img/logo.svg') }}">
                  </a>
                  <div id="navbarResponsive">
                      <ul>
                          <li>
                              <a href="/team/#team"
                                 title="About Us">
                                  About Us
                              </a>
                          </li>
                          <li>
                              <a href="#"
                                 title="What we do">
                                  What we do
                              </a>
                          </li>
                          <li>
                              <a href="#"
                                 title="Meet our team">
                                  Meet our team
                              </a>
                          </li>
                          <li>
                              <a href="#"
                                 title="Careers">
                                  Careers
                              </a>
                          </li>
                      </ul>
                  </div>
          </nav>
         </header>


    {% include "components/footer.html" %}

</body>
</html>
