
<!DOCTYPE html>
<html style="height: 100vh" lang="en">
<head>
    <title>HiLearn</title>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWRH4H4');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.svg') }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/hilearn.css') }}" rel="stylesheet">
    {% block headcontent %}
    {% endblock %}
</head>

<body style="height: 100%; margin:0; padding: 0">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWRH4H4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div>
      <div>
      {% block navbarcontent %}
          <nav id="mainNav">
              <div class="container">
                  {% block logo %}
                  <a class="js-scroll-trigger" href="/">
                      <img border="0" src="{{ url_for('static', filename='img/logo.svg') }}" width="100" height="inherit">
                  </a>
                  {% endblock logo %}

                  <button class="navbar-toggler navbar-toggler-right" type="button"
                          data-toggle="collapse" data-target="#navbarResponsive"
                          aria-controls="navbarResponsive" aria-expanded="false"
                          aria-label="Toggle navigation">
                      Menu
                      <i class="fa fa-bars"></i>
                  </button>


                  <div class="collapse navbar-collapse" id="navbarResponsive">
                      {% block centralnavbar %}
                      <ul class="navbar-nav text-uppercase ml-auto">
                          <li class="nav-item">
                              <a class="nav-link" href="/team/#team"
                                 title="About Us">
                                  About Us
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/team/#careers"
                                 title="About Us">
                                  Careers
                              </a>
                          </li>
                      </ul>
                      {% endblock centralnavbar %}

                      {% block rightnavbar %}
                      <div></div>
                      {% endblock rightnavbar %}

                  </div>
              </div>
          </nav>
      {% endblock navbarcontent %}
      </div>

        {% block widebodycontent %}
        {% endblock %}

        <div class="content container" style="display: grid; grid-row-gap:10px; grid-template-rows: auto 1fr auto;">
            <div class="row">
                <div class="col-12">
                    {% block bodycontent %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include "components/footer.html" %}
    <!-- Bootstrap core JavaScript -->

</body>
</html>
