{% extends 'base.html' %}

{% block widebodycontent %}

<section class="career">
    <div class="container">
        <div class="row">
            <h2>Careers</h2>
            <p class="mb-9 max-w-780">We are currently growing in multiple directions, and are in the process of
                welcoming new team members in
                our office in Yerevan (near YSU).</p>
            <!--custom accordion-->
            <section class="questions">
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="card-grid job-item question-title">
                        <div class="position-title">
                            <div class="d-flex align-center">
                                <span class="icon-gray-bg">
                            <img src="../static/img/icons/front.svg">
                        </span>
                                <div class="ml-6">
                                    <h4>Front-end engineer</h4>
                                    <span>Lead</span>
                                </div>
                            </div>
                            <div class="d-flex align-center">
                                <span class="tag mr-6">Yerevan, Armenia</span>
                                <button type="button" class="question-btn btn btn-link">
                                      <span class="plus-icon">
                                        <img src="../static/img/icons/long_right.svg" class="arrow-right">
                                      </span>
                                    <span class="close-icon">
                                       <img src="../static/img/icons/close.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="question-text mt-10">
                            <p>
                                We are looking for a Senior Front-End Developer (with an experience leading) to take a front seat on developing one of our customer facing products
                            </p>
                        </div>
                    </div>
                </article>
                <!-- single question end-->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="card-grid job-item question-title">
                        <div class="position-title">
                            <div class="d-flex align-center">
                                <span class="icon-gray-bg">
                                   <img src="../static/img/icons/settings.svg">
                                </span>
                                <div class="ml-6">
                                    <h4>Quant Engineer</h4>
                                    <span>Senior/Mid/Junior/Intern</span>
                                </div>
                            </div>
                            <div class="d-flex align-center">
                                <span class="tag mr-6">Yerevan, Armenia</span>
                                <button type="button" class="question-btn btn btn-link">
                                      <span class="plus-icon">
                                        <img src="../static/img/icons/long_right.svg" class="arrow-right">
                                      </span>
                                    <span class="close-icon">
                                       <img src="../static/img/icons/close.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="question-text mt-10">
                            <p>
                                We are looking for a Senior Front-End Developer (with an experience leading) to take a front seat on developing one of our customer facing products
                            </p>
                        </div>
                    </div>
                </article>
                <!-- single question end-->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="card-grid job-item question-title">
                        <div class="position-title">
                            <div class="d-flex align-center">
                                <span class="icon-gray-bg">
                                   <img src="../static/img/icons/pie_chart.svg">
                                </span>
                                <div class="ml-6">
                                    <h4>Research Engineer</h4>
                                    <span>Senior/Mid</span>
                                </div>
                            </div>
                            <div class="d-flex align-center">
                                <span class="tag mr-6">Yerevan, Armenia</span>
                                <button type="button" class="question-btn btn btn-link">
                                      <span class="plus-icon">
                                        <img src="../static/img/icons/long_right.svg" class="arrow-right">
                                      </span>
                                    <span class="close-icon">
                                       <img src="../static/img/icons/close.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="question-text mt-10">
                            <p>
                                We are looking for a Senior Front-End Developer (with an experience leading) to take a front seat on developing one of our customer facing products
                            </p>
                        </div>
                    </div>
                </article>
                <!-- single question end-->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="card-grid job-item question-title">
                        <div class="position-title">
                            <div class="d-flex align-center">
                                <span class="icon-gray-bg">
                                   <img src="../static/img/icons/build_circle.svg">
                                </span>
                                <div class="ml-6">
                                    <h4>Back-End Engineer</h4>
                                    <span>Senior/Mid/Intern</span>
                                </div>
                            </div>
                            <div class="d-flex align-center">
                                <span class="tag mr-6">Yerevan, Armenia</span>
                                <button type="button" class="question-btn btn btn-link">
                                      <span class="plus-icon">
                                        <img src="../static/img/icons/long_right.svg" class="arrow-right">
                                      </span>
                                    <span class="close-icon">
                                       <img src="../static/img/icons/close.svg">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="question-text mt-10">
                            <p>
                                We are looking for a Senior Front-End Developer (with an experience leading) to take a front seat on developing one of our customer facing products
                            </p>
                        </div>
                    </div>
                </article>
                <!-- single question end-->

            </section>
        </div>
    </div>
</section>
{% endblock %}




<!--
<section id="careers">
    <div>
        {% for job in openings %}
        <div id="{{job.id}}">
            <div>
                <img
                        src="{{ url_for('static', filename='img/team/prospect.jpeg') }}" alt="">
                <h5>{{ job.title }}</h5>
                <div>
                    <p>{{ job.level }}</p>
                    <p> {{ job.short | safe }}</p>
                </div>
                <ul>
                    <li>
                        <a href="mailto:jobs@hilearn.io">
                            mail
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/jobs/#{{ job.id }}">
                            job
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>-->
