{% extends 'base.html' %}

{% block widebodycontent %}

    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading text-uppercase">What we do</h2>
                      <p>
			HiLearn is a Technology company based in Yerevan, Armenia. Together with our exclusive
			strategic partner Wealth Technologies, Inc.  a fully own subsidiary of
      <a href="https://www.moneylion.com/about/">MoneyLion Inc.</a>
      we are disrupting Algorithmic Financial Advice industry with innovative products.
                      </p>
                      <p>
                        HiLearn started as a algorithmic trading startup, but we pivoted in late 2019 to form a strategic partnership with Wealth Technologies Inc, and recently with MoneyLion.
                      </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading"><a href="https://www.aqqru.com/">Personal Financial Future Planner</a></h4>
                    <p class="text-muted">
                        Our primary focus right now is to launch <a href="https://www.aqqru.com/">Aqqru</a> - an Personalized Financial Advisor Product, a sneak pick on the technology we have been building for a while.
                    </p>
                </div>
                <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Long Term Market Simulations</h4>
                    <p class="text-muted">
                        We do Market Simulations of a universe of assets
                        (stock, bonds, funds) using MorningStar Asset
                        Classes. Simulations are than used to create financial
                        advise for regular people.
                    </p>
                </div>
                <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-globe fa-stack-1x fa-inverse fa-2x"></i>
            </span>
                    <h4 class="service-heading">Demographics Analysis</h4>
                    <p class="text-muted">
                        We use different data sources to build a
                        unified demographics database, that allows
                        us to understand consumer needs, and help with
                        user clustering.
                    </p>
                </div>
                <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Calculators</h4>
                    <p class="text-muted">
                        We have recently launched a teaser product for a <a href="https://www.aqqru.com/calc/car">Car Calculator</a> that uses the 
                        WealthTech's fGPS&trade; platform.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

