{% extends 'base.html' %}
{% block widebodycontent %}

  <section class="bg-light" id="overview">
      <div class="container">
          <div class="row">
              <h1> HiLearn Interview Guide </h1>

              <p> Our interview process follows a principle that we want to test candidate's skills not their knowledge!<p>
              <p> Also we don't want to surprise you and we want to see how you do when fully prepared, not when nervous, since that's what your job will look like.</p>

              <p> This guide describes the types of questions we ask during the interview and what we're looking for. <p>
          </div>

          <div class="row">

            <h3> Interview format </h3>

            <p> First we will schedule a 15-30 minute introductory session to talk about HiLearn and understand what position you will fit into, and make sure you understadn what the interview will be like. </p>

            <p> The main interview is just talking to and sharing your screen (or using a collaborative coding environment, e.g. coderpad) with one of the HiLearn engineers over Google Hangouts. The interview is confidential, takes 1.5-2 hours and includes a short break. Depending on the your position and seniority it could consist of the following sections: </p>

          <div>
          <ul>
            <li>General Programming</li>
            <li>Modeling/Algorithmic Thinking</li>
            <li>Short-answer discussion</li>
          </ul>
          </div>

        </div>
        <div class="row">
          <p>Note: Our guide is inspired by <a href="https://triplebyte.com/interview_guide">TripleByte's interview Guide</a></p>
        </div>

      </div>
  </section>
  <section class="bg-white" id="interview-questions">
      <div class="container">
          <div class="row">

            <h3>General Programming</h3>
          </div>
          <div class="row">

            </br>
            <p> The general programming section involves writing a small console application. </p>

            <p> We're looking for your ability to write clean, correct code, while productively making progress against our specification. </p>
            <p> You can prepare by practicing building small, well-defined programs in a limited amount of time. </p>
          </div>
          <div class="row">
            <h3>Modeling/Algorithmic Thinking</h3>

            <p> The modeling algorithmic section involves writing a small console application that models a certain mathematical/statistical phenomenon. </p>
            <p> We're looking for your ability to understand the come up with a mathematical/statistical/Machine Learning model that describes the underlying problem, explain the decision and understand the tradeoff space of the model. </p>

            <p> You can prepare by playing with simple models on read data sets, e.g. understand all the intricacies of a Linear Regression. </p>
          </div>
          <div class="row">

            <h3>Short-answer discussion</h3>

            <p> This section usually is a short section that tries to test the breadth of your knowledge, and the ability to communicate with other engineers. <p>

            <p>This section is difficult to prepare for specifically. A wide range of experience in building software is the best preparation. Practice speaking concisely about technical topics you already know about with your peers.</p>

          </div>
      </div>
  </section>
  <section class="bg-light" id="after-interview">
      <div class="container">
          <div class="row">
            <h2>After the interview</h2>
          </div>
          <div class="row">
            <p> After the interview we will email you about the next steps.</p>
          </div>
      </div>
  </section>

{% endblock widebodycontent %}
