{% extends 'base.html' %}
{% block widebodycontent %}
  {% for job in openings %}
  <section class="bg-light" id="{{ job.id }}">
      <div class="container">
          <div class="row">
              <div class="team-member col-sm-3 text-left">
                  <img class="mx-auto rounded-circle"
                       src="{{ url_for('static', filename='img/team/prospect.jpeg') }}" alt="">
              </div>
              <div class="col-lg-9 text-left" id={{ job.id }}>
                  <h4>{{ job.title }}</h4>
                  <p class="company-position text-muted">{{ job.level }}</p>

                  <p class="long-bio"> {{ job.overview | safe }}</p>

                  {% if job.descriptions|length > 1 %}
                  <p> As a {{ job.title }} you will </p>
                  <ul>
                  {% for paragraph in job.descriptions %}
                     <li>{{ paragraph }}</li>
                  {% endfor %}
                  </ul>
                  {% else %}
                  <p> As a {{ job.title }} you will {{ job.descriptions.0 }} </p>
                  {% endif %}

                  <p class="long-bio"> {{ job.pre_skills}}</p>
                  <p> About you:</p>
                  <ul>
                  {% for paragraph in job.skills%}
                        <li>{{ paragraph }}</li>
                  {% endfor %}
                  </ul>

                  <p> Our Tech Stack includes:</p>
                  <ul>
                  {% for paragraph in job.tech_stack %}
                     <li>{{ paragraph }}</li>
                  {% endfor %}
                  </ul>

                  <p> Benefits:</p>
                  <ul>
                  {% for paragraph in job.benefits %}
                     <li>{{ paragraph }}</li>
                  {% endfor %}
                  </ul>

                  <p> For application please send your cv to <a href="mailto:jobs@hilearn.io">jobs@hilearn.io</a> <p>

                  <p> Feel free to get acquainted with our <a href="/interview">interviewing style</a></p>


              </div>
          </div>
      </div>
  </section>
  {% endfor %}

{% endblock widebodycontent %}
