{% extends 'base.html' %}
{% block widebodycontent %}

    <!-- Team -->
    <section id="team">
            {% for row in team %}
            <div>
                {% for member in row %}
                <div>
                    <div>
                        <img
                             src="{{ url_for('static', filename=member.img) }}" alt="">
                        <h5>{{ member.name }}</h5>
                            <p>{{ member.role }}</p>
                            <p>{{ member.bio }}</p>
                        <ul>
                            <li>
                                <a href="mailto:{{ member.email }}">
                                    email
                                </a>
                            </li>

                            {% if member.linkedin %}
                            <li>
                                <a href="{{member.linkedin}}">
                                    linkedin
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
    </section>

    <!-- Team -->
    <section id="careers">
                <div>
                    <h2>We are Hiring (in Yerevan)</h2>
                    <h3>
                        We are currently growing in multiple directions, and are in
                        the process of welcoming new team members in our office in
                        Yerevan (near YSU).
                        Last updated February 2021.
                    </h3>
                </div>
            <div>
                {% for job in openings %}
                <div id="{{job.id}}">
                    <div>
                        <img
                             src="{{ url_for('static', filename='img/team/prospect.jpeg') }}" alt="">
                        <h5>{{ job.title }}</h5>
                        <div>
                            <p>{{ job.level }}</p>
                            <p> {{ job.short | safe }}</p>
                        </div>
                        <ul>
                            <li>
                                <a href="mailto:jobs@hilearn.io">
                                    mail
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/jobs/#{{ job.id }}">
                                    job
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}

