{% extends 'base.html' %}

{% block widebodycontent %}

<!-- Team -->
<section id="team" class="section-bottom-space-sm">
    <div class="container">
        <div class="row mt-8">
            <div class="col-12">
                <div class="d-flex justify-content-between align-center">
                    <h2>Meet our team</h2>
                    <a href="/careers/" class="btn btn-primary">
                        Join our team
                        <img src="../../static/img/icons/long_right.svg" class="ml-3">
                    </a>
                </div>
            </div>
        </div>
        {% for row in team %}
        <div class="row">
            {% for member in row %}
            <div class="col-4 mt-10">
                <img
                        src="{{ url_for('static', filename=member.img) }}" alt="" class="team-member-img">
                <h4 class="mb-2">{{ member.name }}</h4>
                <p class="mb-2">{{ member.role }}</p>
                <p class="mb-2">{{ member.bio }}</p>
                <ul class="social-img">
                    <li>
                        <a href="mailto:{{ member.email }}">
                            <img src="../static/img/social/facebook.svg" alt="">
                        </a>
                    </li>

                    {% if member.linkedin %}
                    <li>
                        <a href="{{member.linkedin}}">
                            <img src="../static/img/social/linkedin.svg" alt="">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
            <div class="col-4 mt-10">
                <div class="vacancy-block">
                    <button href="#" class="btn btn-primary">
                        Join our team
                        <img src="../../static/img/icons/long_right.svg" class="ml-3">
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Team -->
{% endblock %}

