<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2 class="mb-6">About us</h2>
                <p class="pr-5">HiLearn started as a algorithmic trading startup, but we pivoted
                    in late 2019 to form a strategic partnership with
                    Wealth Technologies Inc, and recently with MoneyLion.</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <ul class="partners-list">
                    <li class="card-grid">
                        <img src="../../static/img/money-lion-logo.jpg" alt="Money Lion">
                        <span class="tag">Recently</span>
                    </li>
                    <li class="card-grid">
                        <h3>Wealth Technologies Inc.</h3>
                        <span class="tag">Late 2019</span>
                    </li>
                    <li class="card-grid">
                        <h3>Trading startup</h3>
                        <span class="tag">2017</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
