<section class="banner-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-bg"></div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>Innovating fintech in the United States of America</h2>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="mb-9">HiLearn is a Technology company based in Yerevan, Armenia. Together with our exclusive strategic
                    partner Wealth Technologies, Inc. a fully own subsidiary of MoneyLion Inc. we are disrupting
                    Algorithmic Financial Advice industry with innovative products.</p>
                <button class="btn btn-primary">Join our team</button>
            </div>
        </div>
    </div>
</section>
