<section class="benefits section-bottom-space-sm">
  <div class="container">
    <h2 class="title">Our benefits</h2>
    <div class="row mb-10">
      <div class="col-xs-12 col-md-8">
        <div class="benefit-bg benefit-1"></div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-grid mb-10">
         <span class="benefits-tag">
          <img src="../../static/img/icons/eng.jpg">
         </span>.
          <h4>English lessons for our employees with native speakers</h4>
        </div>
        <div class="card-grid">
         <span class="benefits-tag">
          <img src="../../static/img/icons/party.jpg">
         </span>
          <h4>Corporate parties, cool team events</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 order-2 order-md-1">
        <div class="card-grid mb-10">
          <span class="benefits-tag">
            <img src="../../static/img/icons/insurance.jpg">
          </span>
          <h4>Medical insurance</h4>
        </div>
        <div class="card-grid">
          <span class="benefits-tag">
            <img src="../../static/img/icons/schedule.jpg">
          </span>
          <h4>Flexible schedule</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 order-1 order-md-2">
        <div class="benefit-bg benefit-2"></div>
      </div>
    </div>
  </div>
</section>
