<section class="career">
    <div class="container">
        <div class="row">
            <h2>Careers</h2>
            <p class="mb-9 max-w-780">We are currently growing in multiple directions, and are in the process of welcoming new team members in
                our office in Yerevan (near YSU).</p>
            <ul class="list-with-white-frame">
                <li class="card-grid">
                        <span class="icon-gray-bg">
                            <img src="../../static/img/icons/front.svg">
                        </span>
                    <div>
                        <h4>Front-end engineer</h4>
                        <span>Lead</span>
                    </div>
                    <span class="tag">Yerevan, Armenia</span>
                    <a href="#">
                        <img src="../../static/img/icons/long_right.svg" class="arrow-right">
                    </a>
                </li>
                <li class="card-grid">
                        <span class="icon-gray-bg">
                            <img src="../../static/img/icons/settings.svg">
                        </span>
                    <div>
                        <h4>Quant Engineer</h4>
                        <span>Senior/Mid/Junior/Intern</span>
                    </div>
                    <span class="tag">Yerevan, Armenia</span>
                    <a href="#">
                        <img src="../../static/img/icons/long_right.svg"  class="arrow-right">
                    </a>
                </li>
                <li class="card-grid">
                        <span class="icon-gray-bg">
                            <img src="../../static/img/icons/pie_chart.svg">
                        </span>
                    <div>
                        <h4>Research Engineer</h4>
                        <span>Senior/Mid</span>
                    </div>
                    <span class="tag">Yerevan, Armenia</span>
                    <a href="#">
                        <img src="../../static/img/icons/long_right.svg"  class="arrow-right">
                    </a>
                </li>
                <li class="card-grid">
                        <span class="icon-gray-bg">
                            <img src="../../static/img/icons/build_circle.svg">
                        </span>
                    <div>
                        <h4>Back-End Engineer</h4>
                        <span>Senior/Mid/Intern</span>
                    </div>
                    <span class="tag">Yerevan, Armenia</span>
                    <a href="#">
                        <img src="../../static/img/icons/long_right.svg"  class="arrow-right">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
