<section class="careers-home section-bottom-space-sm" id="careers-home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div>
                    <h2 class="mb-6">Careers</h2>
                    <p>We are currently growing in multiple directions, and are in the process of welcoming new team members
                        in our office in Yerevan (near YSU).</p>
                    <a href="/careers/" class="btn btn-primary mt-9">
                        See all vacancies
                        <img src="../../static/img/icons/long_right.svg" class="ml-3">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <ul class="list-with-white-frame">
                    <li class="card-grid">
                        <div class="d-flex align-center">
                            <span class="icon-gray-bg">
                                <img src="../../static/img/icons/front.svg">
                            </span>
                            <div class="ml-6">
                                <h4>Front-end engineer</h4>
                                <span>Lead</span>
                            </div>
                        </div>
                        <div class="d-flex align-center">
                            <span class="tag">Yerevan, Armenia</span>
                            <a href="/careers/" class="ml-6">
                                <img src="../../static/img/icons/long_right.svg" class="arrow-right">
                            </a>
                        </div>
                    </li>
                    <li class="card-grid">
                        <div class="d-flex align-center">
                        <span class="icon-gray-bg">
                            <img src="../../static/img/icons/settings.svg">
                        </span>
                            <div class="ml-6">
                                <h4>Quant Engineer</h4>
                                <span>Senior/Mid/Junior/Intern</span>
                            </div>
                        </div>
                        <div class="d-flex align-center">
                            <span class="tag">Yerevan, Armenia</span>
                            <a href="/careers/" class="ml-6">
                                <img src="../../static/img/icons/long_right.svg" class="arrow-right">
                            </a>
                        </div>
                    </li>
                    <li class="card-grid">
                        <div class="d-flex align-center">
                            <span class="icon-gray-bg">
                                <img src="../../static/img/icons/pie_chart.svg">
                            </span>
                            <div class="ml-6">
                                <h4>Research Engineer</h4>
                                <span>Senior/Mid</span>
                            </div>
                        </div>
                        <div class="d-flex align-center">
                            <span class="tag">Yerevan, Armenia</span>
                            <a href="/careers/" class="ml-6">
                                <img src="../../static/img/icons/long_right.svg" class="arrow-right">
                            </a>
                        </div>
                    </li>
                    <li class="card-grid">
                        <div class="d-flex align-center">
                            <span class="icon-gray-bg">
                                <img src="../../static/img/icons/build_circle.svg">
                            </span>
                            <div class="ml-6">
                                <h4>Back-End Engineer</h4>
                                <span>Senior/Mid/Intern</span>
                            </div>
                        </div>
                        <div class="d-flex align-center">
                            <span class="tag">Yerevan, Armenia</span>
                            <a href="/careers/" class="ml-6">
                                <img src="../../static/img/icons/long_right.svg" class="arrow-right">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
