<section class="careers-home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2 class="mb-6">Careers</h2>
                <p>We are currently growing in multiple directions, and are in the process of welcoming new team members
                    in our office in Yerevan (near YSU).</p>
                <button class="d-flex align-center btn btn-primary mt-9">
                    Join our team
                    <img src="../../static/img/icons/long_right.svg" class="ml-3">
                </button>
            </div>
            <div class="col-xs-12 col-md-8"></div>
        </div>
    </div>
</section>
