<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content">
                    <a class="js-scroll-trigger" href="/">
                        <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">
                    </a>
                    <nav>
                        <ul class="menu-items">
                            <li>
                                <a href="/team/#team" class="btn btn-link"
                                   title="About Us">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link"
                                   title="What we do">
                                    What we do
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link"
                                   title="Meet our team">
                                    Meet our team
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link"
                                   title="Careers">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <img src="../../static/img/social/facebook.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../static/img/social/linkedin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center copyright">Copyright © Hilearn 2021</p>
            </div>
        </div>
    </div>
</footer>
