<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-content">
                    <a class="js-scroll-trigger" href="/">
                        <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">
                    </a>
                    <nav id="mainNav">
                        <ul id="navbarResponsive" class="menu-items">
                            <li>
                                <a href="#about-us" class="btn btn-link"
                                   title="About Us">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#what-we-do" class="btn btn-link"
                                   title="What we do">
                                    What we do
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link"
                                   title="Meet our team">
                                    Meet our team
                                </a>
                            </li>
                            <li>
                                <a href="#careers-home" class="btn btn-link"
                                   title="Careers">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
