<section class="what-we-do section-bottom-space-sm" id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>What we do</h2>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card-grid mb-10">
              <img src="../../static/img/icons/assignment.svg">
              <h4 class="mt-4 mb-2">Personal financial
                future planner</h4>
              <p class="sm-text">Our primary focus right now is to launch <span
                      class="color-primary fw-700">Aqqru</span> - an Personalized
                Financial Advisor Product, a sneak pick on the technology we have been building for a
                while.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-grid mb-10">
              <img src="../../static/img/icons/simulation.svg">
              <h4 class="mt-4 mb-2">Long term market simulations</h4>
              <p class="sm-text">We do Market Simulations of a universe of assets (stock, bonds, funds)
                using MorningStar Asset Classes. Simulations are than used to create financial advise
                for regular people.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-grid">
              <img src="../../static/img/icons/analysis.svg">
              <h4 class="mt-4 mb-2">Demographics Analysis</h4>
              <p class="sm-text">We use different data sources to build a unified demographics database,
                that allows us to understand consumer needs, and help with user clustering.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card-grid">
              <img src="../../static/img/icons/calculate.svg">
              <h4 class="mt-4 mb-2">Calculators</h4>
              <p class="sm-text">We have recently launched a teaser product for a
                <span class="color-primary fw-700">Car Calculator</span> that uses
                the WealthTech's fGPS™ platform.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
