.site-wrapper-inner {
    background: url('../img/ts_background.png') top center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
    width: 95%;
}
.cover-container {
    margin: auto;
    width: 50%;
    position: relative;
    top: 20%;
}